:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #3c5e2c;
    --button-color: #f50d05;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}
/* -------Modal------- */
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}
.modal.open{
    display: block;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.auth-form {
    width: 400px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
    padding: 0 20px;
    z-index: 1;
}

.button-box {
    width: 300px;
    height: 40px;
    margin: 35px auto;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}

.toggle-btn-login {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border-radius: 30px;
    border: 0;
    outline: none;
    background: #ff105f;
}

.toggle-btn-register {
    padding: 10px 44px;
    cursor: pointer;
    background: transparent;
    border-radius: 30px;
    border: 0;
    outline: none;
    background: #fff;
}


.auth-form__input-group {
    top: 80px;
    position: absolute;
    width: 300px;
    transition: .5s;
    padding-top: 40px;
   
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
    color: var(--white-color);
    font-size: 1.6rem;
}

.checkbox {
    margin: 30px 10px 30px 0;
}

.input-group span {
    color: #777;
    font-size: 1.4rem;
    line-height: 5px;
    bottom: 68px;
    text-align: center;
    
}

.auth-form__socials {
    position: absolute;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    line-height: 30px;
    bottom:10%;
    width: 100%;
    right: 0;
}

.auth-form__socials--facebook {
    background: #3b5998;
    color: #fff;
    margin: 0 4px;
    padding: 0 4px;
}

.auth-form__socials--instagram {
    background: rgb(228, 64, 95);
    color: #fff;
    margin: 0 4px;
    padding: 0 4px;
}

.auth-form__socials-icons {
    margin: 0 8px;
}