@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

.contact {
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    background-color: black;
}

a {
    text-decoration: none;
}

.contact>a {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    padding: 8px;
    border-right: grey solid 2px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.topnav {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    background-color: rgb(170, 134, 105);
    height: 60px;
    text-decoration: none;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}
.topnav img{
    position: relative;
    width: 6%;
    background-color: #fff;
    border-radius: 50%;
    z-index: 8;
}
.topnav>a {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    overflow: hidden;
}

.topnav a:hover {
    font-size: 40px;
    animation: bg 1s ease-in-out forwards;
    border-radius: 10px;
    filter: blur(0);
    cursor: pointer;
}

@keyframes bg {
    0% {
        background-color: transparent;
        color: black;
    }

    100% {
        color: black;
    }
}

.main {
    height: 900px;
    background: url(../img/bg-1.png) no-repeat;
    background-size: cover;
    position: relative;
}

.main>p {
    position: relative;
    color: var(--white-color);
    font-size: 150px;
    font-family: 'Dancing Script', cursive;
    top: 35%;
}

.slogan>p {
    position: absolute;
    top: 50%;
    left: 20%;
    color: var(--white-color);
    font-size: 50px;
    font-family: 'Updock', cursive;
}

.row {
    position: relative;
    display: flex;
    justify-content: space-around;
    font-family: 'NittiTypewriter', monospace;
    font-size: 40px;
    padding: 100px;
}

.col-6 {
    height: 400px;
    width: 500px;
    display: flex;
    box-sizing: border-box;
    font-family: 'Xanh Mono', monospace;
}

.col-12 {
    height: 400px;
    width: 1100px;
    display: flex;
    box-sizing: border-box;
    font-family: 'NittiTypewriter', monospace;
}

.banner {
    text-align: center;
}

.banner img {
    height: 400px;
    width: 500px;
}

.col-6-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: normal;
    background-color: bisque;
    transition-duration: 0.5s;
    text-transform: uppercase;
    min-width: 50%;
    font-weight: bold;
}

.img-container {
    position: relative;
    text-align: center;
    color: #555555;
}

.col-6-style:hover {
    transform: translate(-50%, -70%);
    text-decoration: underline;
}

.col-12-style {
    transform: translate(-50%, -50%);
    line-height: 20px;
    transition-duration: 0.5s;
    text-transform: uppercase;
    color: #555555;
    font-weight: bold;
    font-family: 'Xanh Mono', monospace;
}

.banner-1 img {
    position: absolute;
    height: 400px;
    width: 1100px;
}

.line-height {
    position: relative;
    width: 550px;
    height: 400px;
    justify-content: center;
    align-items: center;
    background: rgba(255, 241, 208, 0.9);
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    transition-duration: 0.4s;
}

.line-height>p {
    position: relative;
    font-size: 25px;
    color: black;
    margin: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
}

.col-12:hover .line-height {
    transform: translateX(100%);
}

.col-12-style::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 70%;
    width: 150px;
    height: 4px;
    background: #555555;
    transform: translateX(-50%);
}
.footer{
    height: 200px;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.footer div{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
    font-family: 'NittiTypewriter', monospace;
    color: #555555;
    align-items: center;
}
.footer a{
    position: relative;
    display: block;
    line-height: 30px;
    color: var(--black-color);
}
.footer img{
    width: 200px;
    position: relative;
}
.footer a:hover{
    color: var(--button-color);
}
