@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');
.app{
    width: 100%;
    height: 100%;
}
.contact {
    position: relative;
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    background-color: #d6bea4;
    width: 100%;
}

a {
    text-decoration: none;
}

.contact>a {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    padding: 8px;
    border-right: grey solid 1px;
    text-decoration: none;
    color: #666;
    font-size: 1vw;
}
#header{
    background-color: rgb(170, 134, 105);
}
.topnav {
    display: inline-block;
    height: 50px;
    overflow: hidden;
}
.topnav li{
    display: inline-block;
}
.topnav li a {
    color: #fff;
    font-family: 'Dancing Script', cursive;
    padding: 0 4.5vw;
    font-size: 35px;
    line-height: 50px;
}
#header .mobile-menu-button,
#header .menu-icon
{   
    float: right;
}
#header .menu-icon{
    color: #fff;
    font-size: 30px;
    line-height:30px;
    padding: 10px;
}
.topnav a:hover {
    font-size: 2.5vw;
    animation: bg 1s ease-in-out forwards;
    border-radius: 10px;
    filter: blur(0);
    cursor: pointer;
}

@keyframes bg {
    0% {
        background-color: transparent;
        color: black;
    }

    100% {
        color: black;
    }
}

.main {
    width: 100%;
    height: 110vh;
    background: url(../img/bg-1.png) no-repeat;
    background-size: cover;
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.slogan{
    position: relative;
    top: 30%;
    width: 100%;
    min-width: 100%;
    display: block;
    
}
.slogan p {
    position: relative;
    color: var(--white-color);
    font-size: 10vw;
    font-family: 'Dancing Script', cursive;
    left: 6%;
    line-height: 15vw;
}
.slogan span{
    position: relative;
    color: var(--white-color);
    font-size: 4vw;
    font-family: 'Updock', cursive;
    left: 26%;
}
.row {
    position: relative;
    display: flex;
    justify-content: space-around;
    font-family: 'NittiTypewriter', monospace;
    padding: 10vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
}
.col-6 {
    height: 30vw;
    width: 40vw;
    display: flex;
    box-sizing: border-box;
    font-family: 'Xanh Mono', monospace;
    font-size: 3vw;
}

.col-12 {
    height: 40rem;
    width: 110rem;
    display: flex;
    box-sizing: border-box;
    font-family: 'NittiTypewriter', monospace;
}
.banner {
    text-align: center;
    width: 40vw;
}

.banner img {
    width: 40vw;
    height: 30vw;
}

.col-6-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: normal;
    background-color: bisque;
    transition-duration: 0.5s;
    text-transform: uppercase;
    font-weight: bold;
}

.img-container {
    position: relative;
    text-align: center;
    color: #555555;
}

.col-6-style:hover {
    transform: translate(-50%, -70%);
    text-decoration: underline;
}

.col-12-style {
    transform: translate(-50%, -50%);
    line-height: 5vh;
    font-size: 5vh;
    transition-duration: 0.5s;
    text-transform: uppercase;
    color: #555555;
    font-weight: bold;
    font-family: 'Xanh Mono', monospace;
}

.banner-1 img {
    position: absolute;
    height: 40rem;
    width: 110rem;
}

.line-height {
    position: relative;
    width: 55rem;
    height: 40rem;
    justify-content: center;
    align-items: center;
    background: rgba(255, 241, 208, 0.9);
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    transition-duration: 0.4s;
    overflow: auto;
}

.line-height p {
    position: relative;
    font-size: 2.5rem;
    color: black;
    margin: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2vw;
}

.col-12:hover .line-height {
    transform: translateX(100%);
}

.col-12-style::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 68%;
    width: 150px;
    height: 4px;
    background: #555555;
    transform: translateX(-50%);
}
footer {
    width: 100%;
    background-color: aliceblue;
}
.footer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.footer div{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2vh;
    font-family: 'NittiTypewriter', monospace;
    color: #555555;
    align-items: center;
}
.footer a{
    position: relative;
    display: block;
    line-height: 30px;
    color: var(--black-color);
}
.footer img{
    width: 15vw;
    position: relative;
}
.footer a:hover{
    color: var(--button-color);
}
/* -----------------Menu----------------- */
.productsWrap{
    position: relative;
    padding-top: 5%;
    padding-left: 25%;
    padding-right: 20%;
    display: flex;
    width: 100%;
}
.sidebarProduct{
    position: fixed;
    width: 10%;
    margin-left: -15%;
}
.shopping-cart{
    position: fixed;
    z-index: 98;
    right: 0;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(to right, #feb692, #fff6b7);
}
.cat-Item{
    font-family: 'NittiTypewriter', monospace;
    color: var(--text-color);
    font-size: 1.6vw;
    line-height: 50px;
    
}
.productsWrap .product-categories .cat-Item {
    cursor: pointer;
}
.productsWrap .product-categories .cat-Item.active,
.productsWrap .product-categories .cat-Item:hover {
    color: burlywood;
    position: relative;
}
.productsWrap .product-categories .cat-Item.active:before,
.productsWrap .product-categories .cat-Item:hover:before {
    content: '';
    height: 2px;
    width: 15px;
    background: burlywood;
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    opacity: 1;
}
.productsWrap .product-categories a {
    font-weight: bold;
    display: block;
    margin-bottom: 10px; 
}
h3{
    display: block;  
}
.grid{
    position: relative;
    width: 100%;
}
.grid-row{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.grid-col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.productsWrap .block-menu_item-title {
    font-family: 'Xanh Mono', monospace;
    font-size: 3vh;
    margin-bottom: 25px;
    text-transform: capitalize;
    padding-top: 30px;
    color: #3c5e2c;
    position: relative;
}
.productsWrap .itemProducts {
    margin-bottom: 30px;
    position: relative;
}
.itemProducts{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 30px;
}
.productsWrap img {
    max-width: 100%;
}
.itemProducts-name{
    font-family: 'Xanh Mono', monospace;
    font-size: 2.5vh;
    line-height: normal;
    color: var(--text-color);
    text-transform: uppercase;
    margin: 1.5vh;
    text-align: center;
}
.itemProducts-price{
    font-family: 'NittiTypewriter', monospace;
    font-size: 2.5vh;
    color: var(--text-color);
    text-transform: uppercase;
    margin-bottom: 1vh;
    text-align: center;
}
.itemProducts-buying{
    text-align: center;
    font-size: 2vh;
    align-items: center;
}
.itemProducts-buying button:hover{
    cursor: pointer;
    color: var(--button-color);
}
.container{
    position: relative;
    width: 100%;
    background-color: #e3dbd3;
    max-width: 100%;
}
.buying-btn {
    border: none;
    background-color: transparent;
    color: #3c5e2c;
    font-size: 17px;
}
.flying-img-product{
    position: absolute;
    width: 30px;
    height: 30px;
    object-fit: cover;
    z-index: 99;
    border-radius: 100%;
    transition: all 1s ease;
}
/*-----------------Cart--------------*/
.cart-modal{
    display: none;
}
.cart-modal.open{
    display: block;
}
.cart-modal-box{
    position: fixed;
    width: 300px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(/assets/img/cart-background-3.jpg);
    background-size: contain;
    padding: 15px;
    border: 1px solid #3c5e2c;
    font-family: 'Xanh Mono', monospace;
    font-size: 20px;
    color: var(--text-color);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.cart-modal-box__header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.cart-modal-box__header h3{
    font-family: 'Xanh Mono', monospace;
    font-size: 20px;
    color: var(--text-color);
    text-transform: uppercase;
    margin: 10px;
    text-align: center;
}
.cart-close{
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-self: flex-end;
}
.cart-modal-box__total{
    position: relative;
    
}
.cart-modal-box__total p{
    position: relative;
    display: flex;
    justify-content: flex-end;
    top: 350px;
    margin: 5%;
}
.cart-modal-box__button{
    position: relative;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    top: 350px;
    border: none;
    border-radius: 10px;
    font-family: 'Xanh Mono', monospace;
    font-size: 20px;
    color: var(--text-color);
    text-transform: uppercase;
    background-color:#94e4c3;
    width: 40%;
    cursor: pointer;   
}
/*-------------------------About------------------------*/
.script{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 20%;
}
.script > h1{
    font-family: 'Xanh Mono', monospace;
    font-size: 50px;
    color: var(--text-color);
    text-transform: uppercase;
    margin: 30px;
    line-height: normal;
    text-align: center;
}
.script > p{
    font-family: 'NittiTypewriter', monospace;
    font-size: 16px;
    color: black;
    margin-bottom: 30px;
    line-height: 30px;
}
.script img{
    width: 100%;
}
/*-------------------------Workshops------------------------*/
.map {
    margin-right: auto;
    text-align: center;
    max-width: 100%;
}
.map-instruction{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    padding: 2% 0;
}
.map-instruction > h2{
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px;
    text-align: center;
}
/*---------------------Contact------------*/
section{
    position: relative;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.slider{
    position: relative;
    height: 400px;
    width: 900px;
    overflow: hidden;
    top: 10px;
}
.slider-images{
    height: 100%;
    width: 100%;
}
.slider-images img{
    height: 100%;
    width: 100%;
}
.slider-btm {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.slider-btm span{
    height: 15px;
    width: 50px;
    border: 2px solid white;
    margin: 0 3px;
    cursor: pointer;
}
.slider .slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border: 2px solid white;
}
.slide span{
    font-size: 35px;
    color: white;
    line-height: 41px;
    cursor: pointer;
}
.slider .right{
    right: 0;
}
section h1{
    font-family: 'NittiTypewriter', monospace;
    font-size: 100px;
    color: var(--text-color);
    text-transform: uppercase;
    line-height: normal;
}
.content{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
}
.content h1{
    font-size: 100px;
    position: relative;
    top: 50%;
}