/* For PC */
@media (min-width: 1225px) {

    .row-res-tab{
        display: none;
    }
    
    .mobile-menu-button{
        display: none;
    }

}
/* For iPad/tablet */
@media screen and (min-width: 481px) and (max-width: 1224px) {

    .contact{
        display: none;
    }
    .section:last-child{
        display: none;
    }
    .topnav > li {
        display: block;
    }
    .row-res-tab{
        display: block;
    }
    .mobile-menu-button{
        display: block;
        float: right;
    }
    .topnav {
    overflow: visible;
    }
    .sidebarProduct{
        display: none;
    }
    .productsWrap{
        padding: 10%;
    }
}
/* For mobile */
@media (min-width: 320px) and (max-width: 480px) {
    .contact{
        display: none;
    }
    .section:last-child{
        display: none;
    }
    .topnav > li {
        display: block;
    }
    .row-res-tab{
        display: block;
    }
    .mobile-menu-button{
        display: block;
        float: right;
    }
    .topnav {
    overflow: visible;
    }
    .sidebarProduct{
        display: none;
    }
    .productsWrap{
        padding: 0;
    }
}